@model List<Task5_EF.Models.FlowerModel>
@{
    ViewBag.Title = "Flower List";
}

<h2>Flower List</h2>
@Html.ActionLink("Create New", "CreateFlower")
<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>

            <td>
               <a class= "btn btn-danger delete"
                  data-id = "@item.Id"
                  data-controller="Flower"
                  data-action="DeleteFlower"
                  data-body-message="are you sure?"
                  >
                   Delete                  
               </a>
                </td>

            <td>
                @Html.ActionLink("Edit", "EditFlower",
             new { id = item.Id })
            </td>
        </tr>
    }
</table>